<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<a href="/">home</a>
		<a href="/slides">slides</a>
		<a href="/all">show all</a>
	</div>
	<div class="stage">
		<div class="section {{page.class}}">
		{{ content }}
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/statification.js"></script>
</body>
</html>